<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="LinesToSplit" value="1000" />
    <add key="ChunkFolderLocation" value="ChunkFiles" />
    <add key="ChunkFileBaseName" value="INCOMING_" />
    <add key="WorkFilesLocation" value="WorkFiles" />
  </appSettings>
</configuration>